/* Phone */

/* Tablet */
@media screen and (max-width: 1399.2px) {
    .facebook {
        margin-left: 10px;
        margin-top: 10px;
    }

    .icon-contact {
        width: 40px;
    }

    .phone {
        font-size: 18px;
    }

    .btn-search-first {
        right: 2px;
    }

    .select-year-build-old,
    .select-year {
        padding: 10px 101px 10px 10px;
    }

    .select-year-build,
    .select-seg {
        padding: 10px 103px 10px 10px;
    }

    .select-house {
        width: 225px;
    }

    .select-build-1 {
        width: 225px;
    }

    .enter-floor-1 {
        width: 225px;
    }

    .enter-floor-2 {
        width: 225px;
    }

    .select-city-1 {
        width: 225px;
    }

    .select-city-2 {
        width: 225px;
    }

    .space-form {
        margin-top: -18px;
    }

    .title-section p {
        width: 42%;
    }

    .title-section-1 .p-width {
        width: 42%;
        height: 9px;
        background: url(../images/line-news.jpg) repeat-x;
        position: absolute;
        right: 49px;
        bottom: 3px;
    }

    .form-info {
        padding-left: 350px;
        padding-right: 350px;
    }

    .title-section-clip h4::before {
        left: 38%;
    }

    .title-post-inner,
    .small-content {
        font-size: 13px;
    }
}

@media screen and (max-width: 1281.6px) {
    .nav-demo-house {
        font-size: 13px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 1231.2px) {
    .nav-demo-house {
        font-size: 13px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 14px;
    }

    .space-image-1 img {
        width: 100%;
    }

    .space-image-2 img {
        width: 100%;
        height: 213px;
    }

    .space-image-3 img {
        width: 100%;
    }

    .space-image-4 img {
        width: 98%;
    }

    .space-image-5 img {
        width: 100%;
        height: 470px;
    }
}

@media screen and (max-width: 1228px) {
    .space-image-4 img {
        width: 99%;
    }
}

@media screen and (max-width: 1226.2px) {
    .space-image-4 img {
        width: 98%;
    }
}

@media screen and (max-width: 1226.2px) {
    .space-image-4 img {
        width: 99%;
    }
}

@media screen and (max-width: 1223px) {
    .space-image-5 img {
        width: 100%;
        height: 470px;
    }
}

@media screen and (max-width: 1220px) {
    .space-image-5 img {
        width: 100%;
        height: 465px;
    }
}

@media screen and (max-width: 1218px) {
    .space-image-5 img {
        width: 100%;
        height: 461px;
    }
}

@media screen and (max-width: 1204px) {
    .space-image-2 img {
        width: 100%;
        height: 205px;
    }

    .space-image-4 img {
        width: 100%;
    }

    .space-image-5 img {
        width: 100%;
        height: 460px;
    }
}

@media screen and (max-width: 1199.2px) {
    .facebook {
        margin-left: 5px;
        margin-top: 10px;
    }

    .youtube,
    .insta,
    .pinter {
        margin-left: 1px;
        margin-top: 10px;
    }

    .enter-search {
        width: 260px;
        padding: 4px 5px 4px 5px;
        border-radius: 5px;
    }

    .phone {
        font-size: 15px;
    }

    .icon-contact {
        width: 30px;
    }

    .tittle-col-search {
        font-size: 14px;
    }

    .tittle-col-search-1::after {
        top: 36px;
    }

    .tittle-col-search-1 {
        font-size: 14px;
    }

    .tittle-col-search::after {
        top: 36px;
    }

    .select-year-build-old {
        padding: 10px 55px 10px 10px;
    }

    .select-year-build {
        padding: 10px 61px 10px 10px;
    }

    .select-year {
        padding: 10px 58px 10px 10px;
    }

    .select-seg {
        padding: 10px 63px 10px 10px;
    }

    .select-house {
        width: 185px;
        font-size: 14px;
    }

    .select-build-1 {
        width: 185px;
        font-size: 14px;
        margin-left: 10px;
    }

    .enter-floor-1 {
        width: 185px;
    }

    .enter-floor-1::placeholder {
        font-size: 14px;
        font-weight: 500;
    }

    .enter-floor-2 {
        width: 185px;
        font-size: 14px;
        margin-left: 10px;
    }

    .enter-floor-2::placeholder {
        font-size: 14px;
        font-weight: 500;
    }

    .select-city-1 {
        width: 185px;
        font-size: 14px;
    }

    .select-city-2 {
        width: 185px;
        font-size: 14px;
        margin-left: 10px;
    }

    .tittle-col-enter-search {
        font-size: 15px;
    }

    .space-image-5 img {
        width: 100%;
        height: 452px;
    }

    .post-image-1 {
        padding: 7px 0px 5px 5px;
    }

    .image-block-1 {
        width: 100%;
        height: 50%;
        margin-left: -2px;
    }

    .title-section p {
        width: 31%;
        z-index: -1;
    }

    .title-section-1 .p-width {
        right: 12px;
    }

    .title-post-inner,
    .small-content {
        font-size: 13px;
    }

    .image-post {
        margin-top: 50px;
    }

    .title-section-clip h4::before {
        left: 47%;
    }

    .form-info {
        padding-left: 290px;
        padding-right: 290px;
    }

    .post-image-1 {
        width: 80px;
        position: relative;
        margin-right: 10px;
        padding: -1px;
        border: 1px solid #E5E5E5;
        overflow: hidden;
    }

    .small-content {
        font-size: 10px;
    }

    .title-section .p-width {
        width: 30%;
    }
}

@media screen and (max-width: 1198.4px) {
    .video-clip-yt {
        width: 300px;
        height: 250px;
    }

    .tittle-col-search-1::after {
        top: 36px;
    }

    .tittle-col-search::after {
        top: 36px;
    }
}

@media screen and (max-width: 1178px) {
    .space-image-4 img {
        width: 104%;
        height: 205px;
    }
}

@media screen and (max-width: 1176px) {
    .nav-demo-house {
        font-size: 12px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 1160px) {
    .space-image-5 img {
        width: 100%;
        height: 426px;
    }

    .space-image-2 img {
        width: 100%;
        height: 184px;
    }

    .video-clip-yt {
        width: 380px;
        height: 200px;
    }

    .space-image-4 img {
        width: 104%;
        height: 184px;
    }

    .video-clip-yt {
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 1152px) {
    .space-image-5 img {
        width: 100%;
        height: 422px;
    }

    .space-image-2 img {
        width: 100%;
        height: 184px;
    }
}

@media screen and (max-width: 1150px) {
    .space-image-4 img {
        width: 100%;
        height: 186px;
    }
}

@media screen and (max-width: 1112px) {
    .space-image-5 img {
        width: 100%;
        height: 416px;
    }
}

@media screen and (max-width: 1120px) {
    .nav-demo-house {
        font-size: 10px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 12px;
    }
}

@media screen and (max-width: 1058.4px) {
    .nav-demo-house {
        font-size: 10px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 10px;
    }
}

@media screen and (max-width: 1084px) {
    .space-image-2 img {
        width: 100%;
        height: 185px;
    }

    .space-image-5 img {
        width: 100%;
        height: 410px;
    }
}

@media screen and (max-width: 1080px) {
    .media {
        display: none;
    }

    .contact {
        display: none;
    }

    .search {
        display: none;
    }

    .email {
        display: none;
    }

    .header-top .container .row {
        display: block;
    }

    .logo img,
    .slogan img {
        margin: auto;
    }

    .slogan,
    .logo {
        width: 100%;
        text-align: center;
    }

    .menu-mobile {
        display: block;
    }

    .menu .container {
        display: none;
    }
}

@media screen and (max-width: 1029px) {
    .space-image-5 img {
        width: 100%;
        height: 395px;
    }
}

@media screen and (max-width: 995.2px) {
    .space-image-5 img {
        width: 100%;
        height: 388px;
    }
}

@media screen and (max-width: 982px) {
    .space-image-5 img {
        width: 100%;
        height: 383px;
    }
}

@media screen and (max-width: 990.4px) {
    .title-section-clip {
        padding-left: 40px;
    }

    .lazy1 img {
        width: 100%;
    }

    .title-section h4::before {
        position: absolute;
        content: '';
        width: 27px;
        left: 315px;
        height: 9px;
        background: url(../images/line-title.jpg) no-repeat;
        top: 18px;
    }

    .title-section-1 h4::before {
        position: absolute;
        content: '';
        width: 27px;
        left: 133px;
        height: 9px;
        background: url(../images/line-title.jpg) no-repeat;
        top: 18px;
    }

    .title-section p {
        width: 26%;
        z-index: -1;
    }

    .title-section-1 .p-width {
        width: 77%;
        z-index: -1;
    }

    .small-content {
        font-size: 10px;
        line-height: 22px;
        font-weight: 400;
    }

    .title-section-clip h4::before {
        left: 65%;
    }

    .header-top .container .row {
        display: block;
    }
}

@media screen and (max-width: 991.2px) {
    .media {
        display: none;
    }

    .contact {
        display: none;
    }

    .search {
        display: none;
    }

    .email {
        display: none;
    }

    .cols-search .container {
        flex-direction: column;
        flex: 100%;
    }

    .enter-col-search {
        margin-top: 20px;
    }

    .nav-demo-house {
        background-color: white;
        font-weight: 500;
        font-size: 16px;
    }

    .nav-demo-house:hover {
        background-color: #e6e6e6;
        color: black;
        border-bottom: 1px solid #e6e6e6;
    }

    .nav-item {
        font-size: 16px;
        font-weight: 500;
    }

    .nav-item img {
        display: block;
    }

    .nav-link .fa-house-chimney {
        display: none;
    }

    .menu {
        padding-left: 20px;
    }

    .btn-search-first {
        left: -461px;
        top: 131px;
    }

    .search-repon {
        display: block;
    }

    .content-5-flex-colunm {
        flex-direction: column;
    }

    .title-section p {
        width: 77%;
        z-index: -1;
        left: 343px;
    }

    .container-title-section .col-md-6 {
        position: relative;
        width: 82%;
    }

    .small-content {
        font-size: 15px;
    }

    .title-section .p-width {
        width: 77%;
        left: 160px;
        bottom: 3px;
    }

    .content-5-flex-colunm .col-md-4 {
        width: 100%;
    }

    .form-info {
        padding-left: 150px;
        padding-right: 150px;
    }

    .select-year-build-old {
        padding: 10px 175px 10px 10px;
    }

    .select-year-build {
        padding: 10px 178px 10px 10px;
    }

    .select-year {
        padding: 10px 175px 10px 10px;
    }

    .select-seg {
        padding: 10px 181px 10px 10px;
    }
}

@media screen and (max-width: 869.6px) {
    .container-title-section .col-md-6 {
        position: relative;
        width: 75%;
    }
}

@media screen and (max-width: 862.4px) {
    .fanpage-ft iframe{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 815.2px) {
    .title-section-clip p {
        width: 34%;
    }
}

@media screen and (max-width: 814.4px) {
    .title-section-clip p {
        position: absolute;
        background: url(../images/line-news.jpg) repeat-x;
        width: 30%;
        height: 9px;
        top: 11px;
        left: 164px;
    }
}

@media screen and (max-width: 768px) {
    .content-5-flex-colunm-1 {
        flex-direction: column;
    }

    .content-5-flex-colunm-1 .col-md-6 {
        width: 150%;
    }

    .title-section h4::before {
        display: none;
    }

    .title-section p {
        display: none;
    }

    .title-section-1 h4::before {
        display: none;
    }

    .title-section-1 .p-width {
        display: none;
    }

    .actionBar_Mobile {
        display: block;
    }

    #listShare {
        bottom: -170px;
    }

    .btn-prev,
    .btn-next {
        display: none;
    }
}

@media screen and (max-width: 767.2px) {
    .form-info {
        padding-left: 100px;
        padding-right: 100px;
    }

    .title-section p {
        width: 50%;
        z-index: -1;
        left: 343px;
    }

    .desc-video-content-1 {
        padding-top: 30px;
    }

    .select-house {
        width: 170%;
    }

    .select-build-1 {
        width: 168%;
        margin-left: -1px;
    }

    .enter-floor-1 {
        width: 153%;
    }

    .enter-floor-2 {
        width: 170%;
        margin-left: -1px;
    }

    .select-city-1 {
        width: 166%;
        font-size: 14px;
    }

    .select-city-2 {
        width: 166%;
        font-size: 14px;
        margin-left: 0px;
    }

    .col-md-12 .btn-search-expect {
        margin-left: 32px;
    }

    .content-5-flex-colunm-1 .col-md-6 {
        width: 95%;
    }
}

@media screen and (max-width: 766.4px) {
    .title-section p {
        width: 30%;
        z-index: -1;
        left: 343px;
    }

    .title-section-1 .p-width {
        width: 67%;
        z-index: -1;
    }
}

@media screen and (max-width: 600px) {
    .content-four .img-project img {
        width: 100%;
        object-fit: cover;
    }

    .flex-colunm-content-4 {
        flex-direction: column;
    }

    .box-project .col-4 {
        width: 100%;
        margin-top: 8px;
    }
}

@media screen and (max-width: 588px) {
    .content-5-flex-colunm .col-md-4 {
        width: 90%;
    }
}

@media screen and (max-width: 561.6px) {
    .content-5-flex-colunm .col-md-4 {
        width: 95%;
    }
}

@media screen and (max-width: 575.2px) {
    .col-md-12 .btn-search-expect {
        margin-left: 50px;
    }
}

@media screen and (max-width: 524px) {
    .title-section p {
        display: none;
    }

    .title-section h4 {
        font-size: 18px;
    }

    .title-section h4::before {
        display: none;
    }

    .title-section-1 .p-width {
        display: none;
    }

    .title-section-1 h4::before {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .select-house {
        width: 124%;
    }

    .select-build-1 {
        width: 120%;
        margin-left: -1px;
    }

    .enter-floor-1 {
        width: 110%;
        margin-left: -1px;
    }

    .enter-floor-2 {
        width: 122%;
        margin-left: -1px;
    }

    .select-city-1 {
        width: 120%;
        font-size: 14px;
    }

    .select-city-2 {
        width: 120%;
    }
}

@media screen and (max-width: 490px) {
    .select-house {
        width: 120%;
    }

    .select-build-1 {
        width: 120%;
        margin-left: -1px;
    }

    .enter-floor-1 {
        width: 110%;
        margin-left: -1px;
    }

    .enter-floor-2 {
        width: 122%;
        margin-left: -1px;
    }

    .select-city-1 {
        width: 120%;
        font-size: 14px;
    }

    .select-city-2 {
        width: 120%;
    }
}

@media screen and (max-width: 414px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 412px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }

    .select-house {
        width: 100%;
    }

    .select-build-1 {
        width: 100%;
        margin-left: -1px;
    }

    .enter-floor-1 {
        width: 93%;
        margin-left: -1px;
    }

    .enter-floor-2 {
        width: 102%;
        margin-left: -1px;
    }

    .select-city-1 {
        width: 100%;
        font-size: 14px;
    }

    .select-city-2 {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .enter-floor-1 {
        width: 100%;
        margin-left: -1px;
    }
}

@media screen and (max-width: 360px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 280px) {
    .title-section h4 {
        font-size: 16px;
    }

    .form-info {
        padding-left: 30px;
        padding-right: 30px;
    }

    .select-house {
        width: 125%;
    }

    .select-build-1 {
        width: 125%;
    }

    .enter-floor-1 {
        width: 125%;
    }

    .enter-floor-2 {
        width: 125%;
        margin-left: -1px;
    }

    .select-city-1 {
        width: 125%;
        font-size: 14px;
    }

    .select-city-2 {
        width: 125%;
    }

    .col-md-12 .btn-search-expect {
        margin-left: 12px;
    }

    .watch-detail {
        padding: 10px 15px 10px 15px;
    }

    .request {
        padding: 10px 15px 10px 15px;
        margin-left: 0px;
    }

    .select-year-build-old {
        padding: 10px 98px 10px 10px;
    }

    .select-year-build {
        padding: 10px 101px 10px 10px;
    }

    .select-year {
        padding: 10px 100px 10px 10px;
    }

    .select-seg {
        padding: 10px 105px 10px 10px;
    }
}