/* Phone */

/* Tablet */
@media screen and (max-width: 1399.2px) {
    .btn-search-first {
        right: 2px;
    }


    .space-form {
        margin-top: -18px;
    }

    .title-section p {
        width: 57%;
        top: 14px;
    }

    .title-section-1 .p-width {
        width: 62%;
        height: 9px;
        background: url(../images/line-news.jpg) repeat-x;
        position: absolute;
        right: 7px;
        bottom: 2px;
    }

    .form-info {
        padding-left: 350px;
        padding-right: 350px;
    }

    .title-section-clip h4::before {
        left: 38%;
    }

    .title-post-inner,
    .small-content {
        font-size: 13px;
    }
}

@media screen and (max-width: 1281.6px) {
    .nav-demo-house {
        font-size: 13px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 15px;
    }
}

@media screen and (max-width:1240px) {}

@media screen and (max-width: 1231.2px) {
    .nav-demo-house {
        font-size: 13px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 1199.2px) {
    .facebook {
        margin-left: 5px;
        margin-top: 10px;
    }

    .youtube,
    .insta,
    .pinter {
        margin-left: 1px;
        margin-top: 10px;
    }

    .enter-search {
        width: 260px;
        padding: 4px 5px 4px 5px;
        border-radius: 5px;
    }

    .phone {
        font-size: 15px;
    }

    .icon-contact {
        width: 30px;
    }

    .tittle-col-search {
        font-size: 14px;
    }

    .tittle-col-search-1::after {
        top: 36px;
    }

    .tittle-col-search-1 {
        font-size: 14px;
    }

    .tittle-col-search::after {
        top: 36px;
    }

    .tittle-col-enter-search {
        font-size: 15px;
    }

    .post-image-1 {
        padding: 7px 0px 5px 5px;
    }

    .image-block-1 {
        width: 100%;
        height: 50%;
        margin-left: -2px;
    }

    .title-section p {
        width: 52%;
        z-index: -1;
    }

    .title-section-1 .p-width {
        right: 12px;
        width: 57%;
    }

    .title-post-inner,
    .small-content {
        font-size: 13px;
    }

    .image-post {
        margin-top: 50px;
    }

    .title-section-clip h4::before {
        left: 47%;
    }

    .form-info {
        padding-left: 290px;
        padding-right: 290px;
    }

    .post-image-1 {
        width: 35%;
        height: 10%;
        position: relative;
        margin-right: 10px;
        border: 1px solid #E5E5E5;
        overflow: hidden;
    }
}

@media screen and (max-width: 1198.4px) {
    .tittle-col-search-1::after {
        top: 36px;
    }

    .tittle-col-search::after {
        top: 36px;
    }
}

@media screen and (max-width: 1176px) {
    .nav-demo-house {
        font-size: 12px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 1120px) {
    .nav-demo-house {
        font-size: 10px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 12px;
    }
}

@media screen and (max-width: 1058.4px) {
    .nav-demo-house {
        font-size: 10px;
        padding: 2px 13px 2px 13px;
    }

    .nav-item {
        font-size: 10px;
    }
}

@media screen and (max-width: 1080px) {
    .media {
        display: none;
    }

    .contact {
        display: none;
    }

    .search {
        display: none;
    }

    .email {
        display: none;
    }

    .header-top .container .row {
        display: block;
    }

    .logo img {
        margin: 0 auto;
    }

    .slogan img {
        margin: 0 auto;
    }

    .slogan,
    .logo {
        width: 100%;
        text-align: center;
    }

    .menu-mobile {
        display: block;
    }

    .menu .container {
        display: none;
    }

    .title-section p {
        width: 49%;
        z-index: -1;
    }

    .title-section-1 .p-width {
        right: 12px;
        width: 50%;
    }

    .cols-search {
        flex-direction: column;
    }

    .cols-search .container {
        display: block;
        margin-top: 15px;
    }

    .select-house {
        width: 100%;
    }
    .space-form{
        display: block;
    }
    .space-form .col-md-6{
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    .title-section p {
        width: 45%;
        z-index: -1;
    }
}

@media screen and (max-width: 990.4px) {
    .title-section-clip {
        padding-left: 40px;
    }

    .title-section h4::before {
        position: absolute;
        content: '';
        width: 27px;
        left: 315px;
        height: 9px;
        background: url(../images/line-title.jpg) no-repeat;
        top: 18px;
    }

    .title-section-1 h4::before {
        position: absolute;
        content: '';
        width: 27px;
        left: 133px;
        height: 9px;
        background: url(../images/line-title.jpg) no-repeat;
        top: 18px;
    }

    .title-section p {
        width: 26%;
        z-index: -1;
    }

    .title-section-1 .p-width {
        width: 77%;
        z-index: -1;
    }

    .small-content {
        font-size: 10px;
        line-height: 22px;
        font-weight: 400;
    }

    .title-section-clip h4::before {
        left: 65%;
    }

    .header-top .container .row {
        display: block;
    }
}

@media screen and (max-width: 991.2px) {
    .media {
        display: none;
    }

    .contact {
        display: none;
    }

    .search {
        display: none;
    }

    .email {
        display: none;
    }

    .cols-search .container {
        flex-direction: column;
        flex: 100%;
    }

    .enter-col-search {
        margin-top: 20px;
    }

    .nav-demo-house {
        background-color: white;
        font-weight: 500;
        font-size: 16px;
    }

    .nav-demo-house:hover {
        background-color: #e6e6e6;
        color: black;
        border-bottom: 1px solid #e6e6e6;
    }

    .nav-item {
        font-size: 16px;
        font-weight: 500;
    }

    .nav-item img {
        display: block;
    }

    .nav-link .fa-house-chimney {
        display: none;
    }

    .menu {
        padding-left: 20px;
    }

    .btn-search-first {
        left: -461px;
        top: 131px;
    }

    .search-repon {
        display: block;
    }

    .content-5-flex-colunm {
        flex-direction: column;
    }

    .title-section p {
        width: 77%;
        z-index: -1;
        left: 343px;
    }

    .container-title-section .ct-left {
        position: relative;
        width: 70%;
    }

    .container-title-section .slideVer {
        position: relative;
        width: 70%;
    }

    .small-content {
        font-size: 15px;
    }

    .title-section .p-width {
        width: 77%;
        left: 160px;
        bottom: 3px;
    }

    .content-5-flex-colunm .col-md-4 {
        width: 100%;
    }

    .form-info {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (max-width: 869.6px) {
    .container-title-section .col-md-6 {
        position: relative;
        width: 73%;
    }
}

@media screen and (max-width: 862.4px) {
    .fanpage-ft iframe {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 815.2px) {
    .title-section-clip p {
        width: 34%;
    }
}

@media screen and (max-width: 814.4px) {
    .title-section-clip p {
        position: absolute;
        background: url(../images/line-news.jpg) repeat-x;
        width: 30%;
        height: 9px;
        top: 11px;
        left: 164px;
    }
}

@media screen and (max-width: 768px) {
    .content-5-flex-colunm-1 {
        flex-direction: column;
    }

    .content-5-flex-colunm-1 .col-md-6 {
        width: 150%;
    }

    .title-section h4::before {
        display: none;
    }

    .title-section p {
        display: none;
    }

    .title-section-1 h4::before {
        display: none;
    }

    .title-section-1 .p-width {
        display: none;
    }

    .actionBar_Mobile {
        display: block;
    }

    #listShare {
        bottom: -170px;
    }

    .btn-prev,
    .btn-next {
        display: none !important;
    }
}

@media screen and (max-width: 767.2px) {
    .form-info {
        padding-left: 100px;
        padding-right: 100px;
    }

    .title-section p {
        width: 50%;
        z-index: -1;
        left: 343px;
    }

    .desc-video-content-1 {
        padding-top: 30px;
    }

    .content-5-flex-colunm-1 .col-md-6 {
        width: 95%;
    }
}

@media screen and (max-width: 766.4px) {
    .title-section p {
        width: 30%;
        z-index: -1;
        left: 343px;
    }

    .title-section-1 .p-width {
        width: 67%;
        z-index: -1;
    }
}

@media screen and (max-width: 600px) {
    .content-four .img-project img {
        width: 100%;
        object-fit: cover;
    }

    .flex-colunm-content-4 {
        flex-direction: column;
    }

    .box-project .col-4 {
        width: 100%;
        margin-top: 8px;
    }
}

@media screen and (max-width: 588px) {
    .content-5-flex-colunm .col-md-4 {
        width: 90%;
    }
}

@media screen and (max-width: 561.6px) {
    .content-5-flex-colunm .col-md-4 {
        width: 95%;
    }
}

@media screen and (max-width: 524px) {
    .title-section p {
        display: none;
    }

    .title-section h4 {
        font-size: 18px;
    }

    .title-section h4::before {
        display: none;
    }

    .title-section-1 .p-width {
        display: none;
    }

    .title-section-1 h4::before {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }

    .slogan img {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 412px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 400px) {
    .post-image-1 {
        width: 30%;
    }
    .small-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .form-info {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 280px) {
    .title-section h4 {
        font-size: 16px;
    }

    .form-info {
        padding-left: 30px;
        padding-right: 30px;
    }

    .col-md-12 .btn-search-expect {
        margin-left: 12px;
    }

    .watch-detail {
        padding: 10px 15px 10px 15px;
    }

    .request {
        padding: 10px 15px 10px 15px;
        margin-left: 0px;
    }
}